[[source]]
url = "https://wci-repo.llnl.gov/repository/pypi-group/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
httpx = "*"
marshmallow = "*"
python-slugify = "*"
dotwiz = "*"
fire = "*"
pyyaml = "*"
ecs-logging = "*"

[dev-packages]
black = "*"
ipython = "*"
flake8 = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
